@charset "utf-8";
@import url("reset.css");
/*@import url("css文件路径");
css文件内引用其他css*/
/*body{
	-webkit-text-size-adjust:none;
}*/
.web{
	width: 1000px;
	margin: 0 auto;
	border-top: 24px solid #00b7ee;
}
.web header{
	height: 116px;
	background: lightgrey;
}

/*logo容器*/
.web header .logowrap{
	padding: 38px 0 0 73px;
}
.web header .nav{
	font-size: 14px;
	margin: 76px 0 0 70px;
}
.web header .nav li{
	float: left;
	margin-right: 18px;
}
.web header .nav li a{
	color: black;
}
.web header .nav li a:hover{
	color: hotpink;
}
.active::after{
	content: "";
	display: block;
	height: 1px;
	width: 50%;
	margin: 0 auto;
	margin-top: 4px;
	background-color: #828282;
}
.web header .nav li:first-child{
	margin-right: 14px;
}
.web header .nav li:last-child{
	margin-right: 0;
}

/*搜索框容器*/
.web header .search{
	margin: 69px 0px 0px 48px;
	position: relative;
}

.web header .search input{
	width: 216px;
	height: 30px;
	border: 1px solid black;
	padding: 0 24px 0 5px;
}	
.web header .icon-search{
	position: absolute;
	top: 6px;
	right: 5px;
}

/*轮播*/
.web .banner{
	width: 100%;
	height: 400px;
	/*overflow: hidden;*/
	position: relative;
}
.web .banner .banner01{
	width: 100%;
	height: 400px;
}
.web .banner .banner-dot{
	position: absolute;
	left: 467px;
	bottom: 4px;
}
.web .banner .banner-text{
	width: 100%;
	height: 400px;
	color: #395571;
	position: absolute;
}
.web .banner .banner-text h3:first-child{
	font-size: 31px;
	line-height: 31px;
	position: absolute;
	left: 282px;
	bottom: 286px;
}
.web .banner .banner-text h3:nth-child(2){
	font-size: 31px;
	line-height: 31px;
	position: absolute;
	left: 427px;
	bottom: 236px;
}
.web .banner .banner-text h3:last-child{
	font-size: 31px;
	line-height: 31px;
	position: absolute;
	left: 588px;
	bottom: 207px;
}

/*footer底部*/
.web .footer{
	width: 1000px;
	height: 238px;
	margin: 0 auto;
	border-top: 1px solid #eaedf0;
	border-bottom: 70px solid #00b7ee;
	padding: 44px 49px 24px 51px;
}
.web footer>p{
	font-size: 12px;
	line-height: 12px;
	position: relative;
	bottom: 28px;
	padding-left: 350px;
}
.web footer .footer ul{
	width: 166px;
	height: 99px;
}

.web footer .footer .item04{
	width: 125px;
}
.web .footer h3{
	margin-bottom: 14px;
}
.web footer .footer a{
	color: black;
	font-size: 12px;
	font-family: "微软雅黑";
	margin-top: 6px;
}
.web footer .footer .share01-text{
	margin-left: -8px;
}
.web footer .footer p{
	font-size:11px;
	-webkit-transform:scale(0.8);
	display:block;
}
.web footer .footer .text-bold{
	line-height: 19px;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Heiti SC', 'Microsoft YaHei';
}
.web footer .footer .big{
	letter-spacing: 3px;
	
}
.web footer .footer .share01-text a:first-of-type{
	margin-left: 40px;
}
.web footer .footer .share02-text h3{
	line-height: 19px;
	font-size: 16px;
	margin-top: 27px;
	margin-left: 14px;
}
